.footer {
  border-top: 1px solid $primary-color;
  padding: 12px 0;
  &-heading {
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 16px 0 9px;
    padding: 8px 0;
    color: $primary-color-md;
  }

  &-list {
    list-style: circle;
    margin-left: 20px;
  }

  &-item {
    margin-bottom: 10px;    
    &:hover a{
      color: $primary-color-md;
    }
  }

  &-link {
    text-decoration: none;
    color: $text-color;
    transition: all 0.3s ease-in;
  }
  div {
    span {
      font-size: 1.5rem;
      line-height: 1.6rem;
      font-weight: 600;

      i {
        color: $primary-color;
        padding-right: 4px;
      }
    }
  }
  .address {
    &-item {
      line-height: 1.8rem;
      font-size: 1.4rem;
    }
  }

  .email {
    a {
      color: $text-color;
      text-decoration: none;
      transition: all .2s ease-in;
      &:hover {
        color: $primary-color-md;
      }
    }
  }
}

.tags {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.4);
  padding-top: 20px;
  &-title {
    background-color: $primary-color-light;
    color: white;
    position: relative;
    height: 36px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: uppercase;
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -36px;
      top: 0;
      bottom: 0;
      border-width: 18px;
      border-style: solid;
      border-color: transparent transparent transparent $primary-color-light;
    }
  }
  &-inner {
    margin-left: 40px;
    a {
      font-size: 1.4rem;
      text-transform: uppercase;
      line-height: 2rem;
      text-decoration: none;
      color: $text-color;
      padding: 0 6px;
      border-right: 1px solid silver;
    }
  }
}
.footer-bottom {
  border-top: 1px solid rgba($color: #000000, $alpha: .2);
  padding-top: 10px;
  .copyright {
    span {
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: $text-color;
    }
    a {
      font-size: 1.4rem;
      color: $primary-color-light;
      text-decoration: none;
    }
  }
}
.paypal {
  text-align: end;
}