.grid.wide.grid-cols-12.gap-x-8.h-100
  .col-span-3
    .category.d-flex.align-center.justify-between.pl-6.pr-4.border.h-100
      h4.category-heading Danh m&#x1EE5;c
      span
        i.fas.fa-bars
  .col-span-9.d-flex.justify-between
    ul.nav-list.d-flex.justify-start.align-center
      li.nav-item
        a.nav-link.no-underline(href='/') Trang chủ
      li.nav-item
        a.nav-link.no-underline(href='/contact') LIÊN HỆ VỚI CHÚNG TÔI
    .nav-right
      a.no-underline(href='')
        | NẠP TIỀN
        i.fas.fa-dollar-sign
