.btn {
  font-size: 1.4rem;
  text-decoration: none;
  padding: 8px 12px;
  line-height: 1.8rem;
  color: $text-color;
  border: 1px solid rgba($color: #000000, $alpha: .2);
  transition: all 0.2s ease-in;

  &-primary {
    background-color: $primary-color;
    color: white;
  }
}