.d-flex {
  display: flex !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-start {
  justify-content: start !important;
}
.justify-end {
  justify-content: end !important;
}
.flex-1 {
  flex: 1;
}
.align-center {
  align-items: center !important;
}

.align-content {
  align-content: center !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.bg-white {
  background-color: #fff;
}

.fz-small {
  font-size: 1.4rem;
  line-height: 1.68rem;
}

.fz-min {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

@include margin(mg, 0, 12);
@include margin-top(mt, 0, 12);
@include margin-left(ml, 0, 12);
@include margin-right(mr, 0, 12);
@include margin-bottom(mb, 0, 12);
@include margin-x(mx, 0, 12);
@include margin-y(my, 0, 12);

@include padding(pd, 0, 12);
@include padding-top(pt, 0, 12);
@include padding-left(pl, 0, 12);
@include padding-right(pr, 0, 12);
@include padding-bottom(pb, 0, 12);
@include padding-x(px, 0, 12);
@include padding-y(py, 0, 12);

@include border(border-none, 0px !important, 0, 0);
@include border(border, 0 1px 0 1px, solid, silver);
@include border(border-1, 1px, solid, $primary-color);

@include text-decoration(no-underline, none !important);

@include color(text-normal, $text-color !important);
@include color(text-primary, $primary-color !important);
@include color(text-dark, $text-color-black !important);

@include font-weight (fw-bold, bold);
@include text-align(text-center, center);


.align-end {
  align-items: end !important;
}

.flex-column {
  flex-direction: column;
}

.fz-lg {
  font-size: 3rem !important;
  line-height: 3.6rem;
}
.fz-md {
  font-size: 1.6rem;
}


.bg-primary {
  background-color: $primary-color !important;
}

.bg-primary-light {
  background-color: $primary-color-light;
}

.text-primary {
  color: $primary-color-md;
}

.text-primary-dark {
  color: $primary-color !important;
}

.text-upercase {
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}
.d-block {
  display: block;
}
.border-radius {
  border-radius: 4px;
}

.border-radius-3 {
  border-radius: 8px;
}


.border-radius-4 {
  border-radius: 12px;
  background-color: #CCCCCC;
  border: 0;
}
.text-white {
  color: white !important;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-bottom {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.text-green {
  color: #50B154;
}

.pos-fixed {
  position: fixed;
}
.fw-normal {
  font-weight: normal;
}
.flex-row {
  flex-direction: row !important;
}

.bg-success {
  background-color: $success-color !important;
}

.bg-dark {
  background-color: darkslategray;
}

.border-top {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
}
.text-hover {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: rgba($color: $primary-color, $alpha: .8) !important;
  }
}
.bg-hover {
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: rgba($color: $success-color, $alpha: .8) !important;
  }
}
.d-none {
  display: none !important;
}