extend ./layout/index
block content 
  .grid.wide.grid-cols-12.gap-x-8
    // Breadcrumd
    .col-span-12
      .breadcrumd.d-flex.justify-start.align-center
        a.breadcrumd-link.active(href='') Trang chủ
        span.separate-characters.pl-1 /
        a.breadcrumd-link(href='') Đăng ký
    .col-span-12.laber-themes.mt-3
      h4.tabs-title.fz-md.text-upercase.py-4.border-bottom.pl-12.text-normal.bg-white T&#x1EA1;o t&agrave;i kho&#x1EA3;n m&#x1EDB;i
      .grid.grid-cols-12.bg-white.mt-4.mb-8
        .col-span-12.py-4.px-4
          span.text-normal.fz-small &Dstrok;&atilde; c&oacute; m&#x1ED9;t t&agrave;i kho&#x1EA3;n? 
          a.text-normal.fz-small.no-underline.text-hover(href='') Thay v&agrave;o &dstrok;&oacute; h&atilde;y &dstrok;&abreve;ng nh&#x1EAD;p!
        .mb-8.col-start-4.col-end-10
          .form.px-8.py-1
            .form-group
              label.form-label(for='') T&ecirc;n &dstrok;&#x1EA7;y &dstrok;&#x1EE7;
              input.form-control(type='text', name='', id='', placeholder='VD: Chìu Cắm Minh')
            .form-group
              label.form-label(for='') Email
              input.form-control(type='text', name='', id='', placeholder='VD: minhcc01.vn@gmail.com')
            .form-group
              label.form-label(for='') Ng&agrave;y sinh
              input.form-control(type='text', name='', id='', placeholder='DD/MM/YYYY')
              span.fz-min.text-normal (V&iacute; d&#x1EE5;: 07/04/2001)
            .form-group
              label.form-label(for='') M&#x1EAD;t kh&#x1EA9;u
              .d-flex.flex-row
                input.form-control.flex-1(type='text', name='', id='', placeholder='Nhập mật khẩu')
                span.btn.bg-dark.text-white.cursor-pointer.border-none Hi&#x1EC3;n th&#x1ECB;
            .form-group.py-4
              input.form-control.bg-success.fz-md.text-white.cursor-pointer(type='submit', value='Đăng Ký')
