.grid.wide.grid-cols-4.gap-y-4.gap-x-6
  .footer-content
    h3.footer-heading Sản phẩm
    ul.footer-list
      li.footer-item
        a.footer-link(href='') Giảm giá
      li.footer-item
        a.footer-link(href='') Sản phẩm mới
      li.footer-item
        a.footer-link(href='') Bán chạy nhất
  .footer-content
    h3.footer-heading Thông tin công ty
    ul.footer-list
      li.footer-item
        a.footer-link(href='') Điều khoản và điều kiện sử dụng
      li.footer-item
        a.footer-link(href='') Giới thiệu
      li.footer-item
        a.footer-link(href='') FAQs
  .footer-content
    h3.footer-heading Tài khoản của bạn
    ul.footer-list
      li.footer-item
        a.footer-link(href='') Thông tin tài khoản
      li.footer-item
        a.footer-link(href='') Đơn hàng
      li.footer-item
        a.footer-link(href='') Địa chỉ
  .footer-content
    .footer-content-body
      h3.footer-heading Thông tin cửa hàng
      .address.py-2
        span
          i.fas.fa-home
          | Địa chỉ: 
        ul.address-list.pl-6
          li.address-item Hà Nội: 203 Xã Đàn
          li.address-item Hồ Chí Minh: 125 Bis Hai bà Trưng, Q1
          li.address-item Đà Nẵng: 150 Hàm Nghi, Q Thanh Khê
      .phone.py-1
        span
          i.fas.fa-phone
          | Phone:
        | 0387776243
      .email.py-2
        span.d-block
          i.fas.fa-envelope
          | Email cho chúng tôi:
        a.pl-6(href='') CSKH@snowshop.com.vn
    .footer-content-download
      h4.text-center.py-1.text-primary.fz-md.text-upercase Tải ứng dụng MysNow
      .d-flex.justify-center.align-center
        .d-flex.flex-column
          a(href='')
            img(width='125px', src='./img/android-app.png', alt='')
          a(href='')
            img.mt-2(width='125px', src='./img/ios-app.png', alt='')
        a(href='')
          img(width='125px', src='./img/bima-QR.png', alt='')
  .col-span-4
    .tags
      .tags-category.d-flex.justify-start.align-center
        span.tags-title Mua sim
        span.tags-inner
          a(href='') Siêu data sim 4g
          a(href='') sieu data sim 4g
      .tags-content.text-center
        p.fw-bold Công ty cổ phần viễn thông sNow
        p
          | Địa chỉ: Tầng 6, Tòa nhà King Building, số 7 Phố Chùa Bộc, Phường Quang Trung, Quận Đống Đa, Thành phố Hà Nội.
        p Tổng đài hỗ trợ: 0921667667 Email : CSKH@vietnamobile.com.vn
        p
          | Mã số doanh nghiệp: 0107429715, đăng ký lần đầu ngày 12/5/2016, đăng ký thay đổi lần thứ 3 ngày 23/4/2019, cấp bởi Sở KHĐT thành phố Hà Nội.
        img(width='200px', src='./img/logoSaleNoti.png', alt='')
  .footer-bottom.col-span-4
    .grid.wide.grid-cols-2.gap-8
      .copyright
        span &copy; 2019 
        a(href='') sNow VN
        | .
        span All Right Reserved
      .paypal
        img(src='./img/phuong-thuc-tt-new.png', alt='')
